body {
    font-family: 'Press Start 2P', cursive;
    background-color: #000033; /* deep blue */
    color: #ffffff; /* white */
}

p {
    line-height: 2;
}

#phone-number-label {
    margin-left: -16px;
}

#consent-label {
    margin-left: -20px;
}